h1{
    text-align: center;
}
    p{
        text-align: center;
        font-size: 30px;
    }
    button{
        display: block;
        margin:auto;
        
    }

    .table{
        
    border-collapse: collapse;
    }

    input{
       border:1px 1px solid;
       padding: 10px;
    }
